body{
    margin:0;
    padding:0;

}

.Empresa{
    position:absolute;
    top:20%;
    left:20%;

}

.box{
    position:absolute;
    top:25%;
    left:20%;

}

.box select{  
    color:black;
    width:200px;
}


.Data1{
    position:absolute;
    top:30%;
    left:20%;

}

.Data2{
    position:absolute;
    top:35%;
    left:20%;

}


.Comentário{
    position:absolute;
    top:40%;
    left:20%;

}


.Button{
    position:absolute;
    top:60%;
    left:80%;

}


h2{
    font-family: arial black;
    color:white;
}


.First_Box_Blue{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:10%;
    z-index:5;
    background-color:#1E90FF;
}

.Second_Box_Blue{
    position:absolute;
    top:65%;
    left:0%;
    width:100%;
    height:35%;
    background:#1E90FF;
    z-index:2;

}

.Tabela{
    
    position: absolute;
    top:0%;
    left:0%;
    width:50%;
    height:100%;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:1;
}