body {
	margin:0;
	padding:0;
}

.div_header_topo {
	position:absolute;
	top:0%;
    left:0%;
    width:100%;
    height:12%;
    z-index:5;
    background-color:#003d99;
    Border:1px solid #000000;

}

h1 {

	font-family: arial black;
	text-align:center;
	color:white;
}

.TodosCampos {
	position: absolute;
	margin-top: 10%;	
	margin-left: 40%;
}

.Foto {
	margin-left: 20%;
	margin-bottom: 5%;
	border: 1px solid black;
	background-position: center;
	border-radius: 50%;
	width: 110px;
	height: 110px;
}

.LinkFoto {
	margin-bottom: 5%;
	font-family: arial black
}

.Nome {
	margin-bottom: 5%;
	font-family: arial black

}

.Email {
	margin-bottom: 5%;
	font-family: arial black

}

.Senha {
	margin-bottom: 5%;
	font-family: arial black

}

.ConfirmarSenha {
	margin-bottom: 5%;
	font-family: arial black

}

.Button {
	margin-bottom: 10%;
	margin-left: 80%;
	font-family: arial black


}

img {
}

