body{
    margin:0;
    padding:0;

}

.First_Box_Blue{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:10%;
    z-index:5;
    background-color:#000080;
    Border:1px solid #000000
}

h1{
    font-family: arial black;
    text-align: center;
    color:white;
}

.Second_Box_Blue{
    position:absolute;
    top:65%;
    left:0%;
    width:100%;
    height:35%;
    background:#000080;
    Border:1px solid #000000;
    z-index:2;

}

.Tabela{
    
    position: absolute;
    top:0%;
    left:32%;
    width:35%;
    height:100%;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:1;
}

.Login{
    position:absolute;
    top:30%;
    left:30%;
    z-index:2;
    
}

.Senha{
    
    position:absolute;
    top:38%;
    left:30%;
    z-index:2;
    
}

.Button{
    
    position:absolute;
    top:50%;
    left:72%;
    z-index:2;
    
}