/*
Temas dos países
*/
.font_eua{
   color: #b22234;
}

.background_eua{
    background-color: #b22234;
}

.border_eua{
    border-color: #b22234;
}

.font_canada{
    color: #d52b1e;
}

.background_canada{
    background-color: #d52b1e;
}

.border_canada{
    border-color: #d52b1e;
}

.font_uk{
    color: #00247d;
}

.background_uk{
    background-color: #00247d;
}

.border_uk{
    border-color: #00247d;
}

.font_ger{
    color: #000000;
}

.background_ger{
    background-color: #000000;
}

.border_ger{
    border-color: #000000;
}

.font_fr{
    color: #002395;
}

.background_fr{
    background-color: #002395; 
}

.border_fr{
    border-color: #002395;
}

