* {
	font-family: arial;
	box-sizing: border-box;
	margin: 0px;
    padding: 0px;
}

.font-form{
    color: black;
}

.row::after {
	content: "";
	clear: both;
	display: block;
       
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For tablets */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px){
/* For Desktop */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;} 
.col-6{width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*='col-'] {
	float: left;
	/*border: 5px black solid;*/
        margin: 0px;
	/*padding: 15px;*/
}
}
/* cabeçalho */

.header{
    height: 50px;
    background-color: #1E90FF;
    padding-top: 12px;       
}

.div_header{
    border: 2px white solid;
    border-radius: 5px;
    margin-right: 15px;
    height: 35px;
    padding: 5px;
    float: right;
}

.div_header:hover{
    background-color: white;
}


.div_header_logo{
    border: none;
    float: left;
    height: 35px;
    margin-left: 20px;
}

.h2_logo{
    font-family: arial black;
    color: white;
}

.h4_header{
    text-align: center;
    font-family: arial;
    color: white;
    margin-top: 3px;
}

.h4_header:hover{
    color: #1E90FF;
}
 /**/

header{
    height: 220px; 
    padding: 0;
    /*background-image: url('../Img/Nacao/vancouver_canada.jpg');
    background-repeat: no-repeat;
    background-position: center;*/
    /*background-size: cover;*/
 
    
}

/* Bloco do conteudo do cabeçalho*/
.div_header_topo{
    height: 7%;
}


/* Tormund - Link - Home*/
.div_header_voltar{
    color: white;
    background-color: #4682B4;
    height: 35px;
    width: 100px;
    padding: 10px 10px;
    align-content: center;
}    

a{
    text-decoration: none;
}

/* Bloco de conteudos do cabeçalho */

.div_header_inside{
    padding: 2% 1%;
    height: 40%;
}

/* Bloco da Imagem da bandeira no cabeçalho */

.div_header_bandeira{
    margin-left: 2%;
}


.img_bandeira_header {
    width: 200px;
    height: 125px;
    border-radius: 15px;
    border: 2px solid;
    margin-top: 0;
    border-color: gray;

}

.h1_header_pais{
    color: white;
    text-align: center;
    font-size: 80px;  
}

.div_header_filtro{
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    margin-left: 20px;
}

.div_header_rodape{
    height: 10%;  
   margin-right: 0px;
    margin-top: 0;
}

.div_cadastrar_comentario{
    height: 50px;
    padding: 20px;
}

.div_inside_cadastrar_comentario{
    width: 300px;
    height: 45px;
    border-radius: 15px; 
    padding: 15px;
}

.h6_cadastrar_comentario{
    color: white;
    font-size: 15px;
    text-align: center;
}

.div_principal{
    margin-top: 50px;
}

.div_principal_bandeira{
    height: 300px;
    padding-top: 1%;
    padding-bottom: 2%;
  
}

.div_comentario{
    background-color: white;
    height: 100%;
    padding-bottom: 5%;
}

.div_comentario_inside{
    border: 2px solid;
    height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: white;
    
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.div_comentario_inside:hover{
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    -webkit-filter: grayscale(100%);
}

.div_comentario_header{
    height: 100%;
    padding: 15px;
    align-content: center;
    border-radius: 10px;
    border: 1px solid;
    margin-left: 0px;
}

.img_comentario_user{
    background-position: center;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 25%;
    width: 90px;
    height: 90px;    
    border-color: gray;
}

.img_comentario_bandeira{
    width: 60px;
    height: 40px;
    float: right;
    border: 3%;
    border-color: gray;
}

.h4_comentario{
    text-align: center;
    font-family: arial;
    color: white;
}

.div_comentario_content{
    height: 80%;
    padding: 3%;
    
}

.section_comentario{
    border: 1px solid;
    border-radius: 15px;
    margin-left: 45%;
    padding: 3%;
    
}

.div_comentario_star{
    height: 20%;
    border-radius: 10px;
}

.img_star{
    width: 40px;
    height: 35px;
    margin-left: 3%;
}