* {
	font-family: arial;
	box-sizing: border-box;
	margin: 0px;
}

.font-form{
    color: black;
}

.row::after {
	content: "";
	clear: both;
	display: block;
       
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*='col-'] {
	float: left;
	/*border: 5px black solid;*/
        margin: 0px;
	/*padding: 15px;*/
}

.header{
    height: 65px;
    background-color: #1E90FF;
    padding-top: 12px; 
   
       
}

.div_header{
    border: 2px white solid;
    border-radius: 5px;
    margin-right: 15px;
    height: 35px;
    padding: 5px;
    float: right;
}

.div_header:hover{
    background-color: white;
}


.div_header_logo{
    border: none;
    float: left;
    height: 35px;
    margin-left: 20px;
}

h1{
    font-family: arial black;
    text-align: center;
    color: #1E90FF;
}

.h2_logo{
    font-family: arial black;
    color: white;
}


.h4_header{
    text-align: center;
    font-family: arial;
    color: white;
    margin-top: 3px;
}

.h4_header:hover{
    color: #1E90FF;
}
/*
.a_header{
    border: 1px #4b69c3 solid;
    border-radius: 5px;
    color: green;
    background-color: whitesmoke;
}

.ul_header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

.li_header {
  float: left;
  padding-right: 15px;
  margin: 10px 10px;
  
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}*/

.div_principal{
    margin-top: 50px;
}

.div_principal_bandeira{
    height: 300px;
    padding-top: 1%;
    padding-bottom: 2%;
  
}

/*Bandeiras*/

.div_bandeira{
    margin-left: 3%;
    height: 100%;
    border: 2px black solid;
    border-radius: 5px;
    background-color: whitesmoke;
    
     filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.div_bandeira:hover{
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    -webkit-filter: grayscale(100%);
}

.div_bandeira_inside{
    height: 50%;
    width: 100%;
}

.img_bandeira{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    width: 100%;
    height: 100%;
    
   
}

.h4_bandeira{
    background-color: white;
    text-align: center;
    font-family: arial black;
}

.h5_bandeira{
    font-family: arial;
    text-align: left;
    margin-left: 5px;
}

.div_comentario{
    background-color: #1E90FF;
    height: 100%;
    padding-bottom: 5%;
}

.div_comentario_inside{
    border: 2px solid;
    height: 200px;
    margin-left: 7%;
    margin-top: 5%;
    border-radius: 15px;
    background-color: white;
    
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.div_comentario_inside:hover{
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    -webkit-filter: grayscale(100%);
}

.div_comentario_header{
    height: 100%;
    padding: 15px;
    align-content: center;
    border-radius: 10px;
    border: 1px solid;
}

.img_comentario_user{
    background-position: center;
    border-radius: 50%;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 25%;
    width: 90px;
    height: 90px;    
}

.img_comentario_bandeira{
    width: 60px;
    height: 40px;
    float: right;
    border: 3%;
}

.h4_comentario{
    text-align: center;
    font-family: arial;
    color: white;
}

.div_comentario_content{
    height: 80%;
    padding: 3%;
    
}

.section_comentario{
    border: 1px solid;
    border-radius: 15px;
    margin-left: 45%;
    padding: 3%;
    
}

.div_comentario_star{
    height: 20%;
    border-radius: 10px;
}

.img_star{
    width: 40px;
    height: 35px;
    margin-left: 3%;
}
