body{
    margin:0;
    padding:0;
}


h2{
    font-family: arial black;
    color:white;
}


.First_Box_Blue{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:10%;
    z-index:5;
    background-color:#1E90FF;
}

.tabelacomentario{

    position: absolute;
    top:11%;
    left:1%;
    width:60%;
    height:50%;
    background-color:#1E90FF;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:2;
}


.foto{

    position: absolute;
    top:10%;
    left:1%;
    width:5%;
    height:20%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;

}

.nome{

    position: absolute;
    top:15%;
    left:8%;
    width:18%;
    height:10%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;

}

.bandeira{

    position: absolute;
    top:10%;
    left:28%;
    width:15%;
    height:20%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;

}

.empresa{

    position: absolute;
    top:5%;
    left:45%;
    width:20%;
    height:10%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;


}

.datainicio{
    
    position: absolute;
    top:5%;
    left:67%;
    width:10%;
    height:10%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
}

.datafim{
   
    position: absolute;
    top:5%;
    left:79%;
    width:10%;
    height:10%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
    
}

.datapost{
    
    position: absolute;
    top:38%;
    left:89%;
    width:10%;
    height:10%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
}

.comentario{
    
    position: absolute;
    top:50%;
    left:1%;
    width:98%;
    height:35%;
    background-color:white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
}

.buttonResponder{
    
    position: absolute;
    top:90%;
    left:40%;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
}

.tabelaresposta{
    
    position: absolute;
    top:62.0%;
    left:1%;
    width:47%;
    height:40%;
    background-color:#1E90FF;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:1;
    
    
}

.renome{
    
    position: absolute;
    top:1%;
    left:8%;
    width:18%;
    height:10%;
    background: white;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;

    
}


.buttonLike{
    
    position: absolute;
    top:89%;
    left:80%;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
    
}



.buttonDeslike{
    
    
    position: absolute;
    top:89%;
    left:90%;
    Border:1px solid #000000;
    padding-left: 0%;
    z-index:3;
    
    
}

